.tabs{
    border-bottom: $border;
    background: $default-bg-gray;
    height: 2rem;
    max-height: 2rem;
    display: flex;
    flex-basis: 100%;
    align-items: flex-end;
    .tab-opt{
        border: $border;
        padding: 0.1rem;
        cursor: pointer;
        &.active{
            background: $white;
        }
    }
    .tab-label{
        margin-left:5px; 
    }
}

.grid-item{
    background: gray;
}