.home-page{
    height: 100%;
    overflow: hidden
}
.grid-section{
    height: 100%;
    min-height: 100vh;
    height: 100%; /* opera */
}
.tabs{
    border-bottom: $border;
    background: $default-bg-gray;
    height: 2rem;
    max-height: 2rem;
    display: flex;
    flex-basis: 100%;
    align-items: flex-end;
    .edit-button{
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        background: #3b8ad9;
        height: 100%;
        align-items: center;
        display: flex;
        // padding: 0px 15px;
        border: 1px solid #3b8ad9;
        cursor: pointer;
        .text{
            padding: 0 15px;
        }
        .bar{
            display: none;
        }
    }
    .tab-opt{
        border: $border;
        padding: 0 5px;
        color: gray;
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 100%;
        min-width: 94px;
        justify-content: space-between;
        cursor: pointer;
        &.active{
            background: $white;
        }
    }
    .tab-label{
        margin-left:5px; 
    }
    .add-Tab{
        height: 100%;
        align-items: center;
        display: flex;
        padding: 0px 11px;
        font-size: 1.3rem;
        border: $border;
        cursor: pointer;
    }
    .angle{
        display: none;
        align-items: center;
        height: 100%;
        font-size: 1.5rem;
        padding: 0 10px;
        color: gray;
        border: 1px solid rgba(128, 128, 128, 0.38);
        cursor: pointer;
    }
}

.drawer{
    display: block;
    position: absolute;
    // height: -o-calc(100% - 92px); /* opera */
    // height: -webkit-calc(100% - 92px); /* google, safari */
    // height: -moz-calc(100% - 92px);
    // min-width: calc(140px - 1rem - 3px);
    background: #fff;
    z-index: 1111;
    overflow: auto;
    text-align: center;
    border: 1px solid darkgray;
    margin-left: -500px;
    transition: margin-left 1s;
    align-items: flex-start;
    width: 100%;
    height: auto;
    max-width: 451px;
    &.open{
        margin-left: 0px;
    }
    .pin-icon{
        cursor: pointer;
        width: 20px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
    }
    .sidebar-module{
        border-bottom: 1px solid gainsboro;
        padding: 8px;
        padding-bottom: 0px;
        .title{
            flex-basis: 100%;
            text-align: left;
        }
        .show-more{
            flex-basis: 100%;
            font-size: .8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: gray;
            cursor: pointer;
            span{
                padding: 5px;
            }
        }
    }
    .sidebar-tiles-wrapper{
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        height: 132px;
        overflow: hidden;
        justify-content: space-between;
        flex-wrap: wrap;
        transition: height .5s;
        // padding: .5rem;
        .tile{
            // flex-basis: 100%;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
        }
        .sidebar-tile{
            border: 1px solid red;
            height: 6rem;
            width: 6rem;
            border-radius: .5rem;
            margin: .5rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
        }
        .title-text{
            color: gray;
            font-size: .9rem;
        }
    }
}
.grid-wrapper{
    height: -o-calc(100% - 72px); /* opera */
    height: -webkit-calc(100% - 72px); /* google, safari */
    height: -moz-calc(100% - 72px);
    overflow-x: auto;
    .Droppable{
        height: 100%;
    }
}
// .pined{
//     display: block;
//     .drawer-locked{
//         display: inline-block;
//         width: calc(140px - 1rem - 3px);
//         position: relative;
//     }
//     .grid-wrapper{
//         display: inline-block;
//         width: calc(100% - 142px);
//         transition: width 1s;
//         float: right;
//     }
// }
.grid-item{
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: darkred;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    cursor: pointer;
}
.image-wrapper{
    overflow: auto;
    height: 100%;
    img{
        width: 96%;
        padding: 2% 2%;
    }
}
.pt-icon-maximize{
    display: none;
}
.pt-icon-cross{
    border: none;
    background: transparent;
    cursor: pointer;
}
.pt-button[class*=pt-icon-]:empty:before {
    margin-right: 0;
}
.pt-button[class*=pt-icon-]:before {
    line-height: 1;
    font-family: Icons16,sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-right: 7px;
    color: #5c7080;
}
.pt-icon-cross:before {
    content: "\2717";
}

@media only screen and (max-width: 450px) {
    .tabs{
        .edit-button{
            .bar{
                display: block;
                padding: 0 5px;
                span{
                    display: block;
                    border: 1px solid;
                    width: 20px;
                    color: #fff;
                    margin: 2px 0;
                }
            }
            .text{
                display: none;
            }
        }
        .angle{
            display: flex;
        }
    }
}