.home-page{
    height: 100%;

}
.grid-section{
    height: 100%;
    min-height: 100vh;
}
.tabs{
    border-bottom: $border;
    background: $default-bg-gray;
    height: 2rem;
    max-height: 2rem;
    display: flex;
    flex-basis: 100%;
    align-items: flex-end;
    .edit-button{
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        background: #3b8ad9;
        height: 100%;
        align-items: center;
        display: flex;
        // padding: 0px 15px;
        border: 1px solid #3b8ad9;
        cursor: pointer;
        .text{
            padding: 0 15px;
        }
        .bar{
            display: none;
        }
    }
    .tab-opt{
        border: $border;
        padding: 0 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
        min-width: 94px;
        justify-content: space-between;
        cursor: pointer;
        &.active{
            background: $white;
        }
    }
    .tab-label{
        margin-left:5px; 
    }
    .add-Tab{
        height: 100%;
        align-items: center;
        display: flex;
        padding: 0px 11px;
        font-size: 1.3rem;
        border: $border;
        cursor: pointer;
    }
}

.drawer{
    display: block;
    position: absolute;
    min-height: 100%;
    min-width: calc(140px - 1rem - 3px);
    background: #fff;
    z-index: 1;
    overflow: auto;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid darkgray;
    margin-left: -300px;
    transition: margin-left 1s;
    align-items: flex-start;
    &.open{
        margin-left: 0px;
    }
    .pin-icon{
        cursor: pointer;
        width: 15px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
    }
    .sidebar-tiles-wrapper{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .tile{
            // flex-basis: 100%;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
        }
        .sidebar-tile{
            border: 1px solid red;
            height: 4rem;
            width: 4rem;
            border-radius: .5rem;
            margin: .5rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
        }
    }
}
.grid-wrapper{
    height: 100%;
    overflow-x: scroll;
    .Droppable{
        height: 100%;
    }
}
.pined{
    display: block;
    .drawer-locked{
        display: inline-block;
        width: calc(140px - 1rem - 3px);
        position: relative;
    }
    .grid-wrapper{
        display: inline-block;
        width: calc(100% - 142px);
        transition: width 1s;
        float: right;
    }
}
.grid-item{
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: darkred;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    cursor: pointer;
}
.image-wrapper{
    overflow: auto;
    height: 100%;
    img{
        width: 96%;
        padding: 2% 2%;
    }
}
.pt-icon-maximize{
    display: none;
}
.pt-icon-cross{
    border: none;
    padding: 15px;
    cursor: pointer;
    // background: url('../assets/images/times.png');
}

@media only screen and (max-width: 450px) {
    .tabs{
        .edit-button{
            .bar{
                display: block;
                padding: 0 5px;
                span{
                    display: block;
                    border: 1px solid;
                    width: 20px;
                    color: #fff;
                    margin: 2px 0;
                }
            }
            .text{
                display: none;
            }
        }
    }
}